@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsh_50qw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/k3kKo8YQJOpFgHQ1mQ5VkEbUKaKitR_50qw.ttf) format('truetype');
}
